version: '3'

services:
  elasticsearch:
    image: elasticsearch:7.8.1
    container_name: elasticsearch
    ports:
      - "9200:9200"
    command: elasticsearch
    environment:
      - node.name=elasticsearch
      - cluster.name=datasearch
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - cluster.initial_master_nodes=elasticsearch
    ulimits:
      memlock:
        soft: -1
        hard: -1
    # volumes:
    #   - esdata:/usr/share/elasticsearch/data

  redis:
    image: "redis:alpine"
    container_name: redis
    ports:
       - "6379:6379"
    command: redis-server

  postgres:
    image: "postgres"
    container_name: postgres
    network_mode: bridge
    ports:
        - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=go_service_1

  rabbitmq:
    image: "rabbitmq:alpine"
    container_name: rabbitmq
    ports:
        - "5672:5672"

  mongodb:
    image: "mongo"
    container_name: mongodb
    ports:
        - "27017:27017"